<ul class="navbar-links">

    <!-- SECTION : GENERAL -->
    <li class="nav-title">Navigation</li>
    <li>
        <a href="{% url 'accueil' %}">
            <i class="ri-home-heart-line"></i> Accueil
        </a>
    </li>

    <li>
        <a href="{% url 'cv' %}">
            <i class="ri-id-card-line"></i> Mon CV
        </a>
    </li>

    <li>
        <a href="{% url 'publication' %}">
            <i class="ri-stack-line"></i> Publications
        </a>
    </li>

    <!-- SECTION : COMMUNICATION -->
    <li class="nav-title">Communication</li>

    <li>
        <a href="{% url 'notification' %}">
            <i class="ri-history-line"></i> Historique de discussion
        </a>
    </li>

    <li>
        <a href="{% url 'chat' %}">
            <i class="ri-customer-service-2-line"></i> Assistance JobFinder
        </a>
    </li>

    <li>
        <a href="{% url 'user_list' %}">
            <i class="ri-team-line"></i> Liste des utilisateurs
        </a>
    </li>

    <!-- SECTION : OPTIONS -->
    <li class="nav-title">Paramètres</li>

    <li>
        <a href="{% url 'options_avance' %}">
            <i class="ri-settings-3-line"></i> Options avancées
        </a>
    </li>

    {% if user.is_staff %}
    <!-- SECTION ADMIN -->
    <li class="nav-title">Administration</li>

    <li>
        <a href="{% url 'admin:index' %}">
            <i class="ri-database-2-line"></i> Base de données
        </a>
    </li>

    <li>
        <a href="{% url 'notif_all' %}">
            <i class="ri-notification-4-line"></i> Notification globale
        </a>
    </li>
    {% endif %}

    <!-- SECTION logout -->
    <li class="logout">
        <a href="{% url 'deconnexion' %}">
            <i class="ri-logout-box-r-line"></i> Déconnexion
        </a>
    </li>

</ul>